<div class='table-cont' id='table-cont'>
    <table class="table table-hover mt-4"  id="display_list_video">
        <thead>
            <tr>
                <th>Giới thiệu</th>
                <th>Video</th>
                <th>Người đăng</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color: white;">
        </tbody>
    </table>
</div>