<div class="modal fade" id="view_video" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xem video hướng dẫn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="video"></p>
                <p id="description"></p>
                <div class="row mt-4">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button class="btn btn-success" onclick="cancel()">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
