<div class="row text-center mt-2">
    <div class="col-lg-10 col-md-10 mb-4">
      <div class="card">
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <div class='table-cont-detail' id='table-cont'>
              <table class="table" id="employee_profile_tab">
                <thead>
                  <tr>
                    <th class="text-uppercase">ID</th>
                    <th class="text-uppercase">TÊN</th>
                    <th class="text-uppercase">CÔNG ĐOẠN</th>
                    <th class="text-uppercase">THỰC TẾ</th>
                    <th class="text-uppercase">CHỈ TIÊU</th>
                    <th class="text-center text-uppercase">% MÁY CHẠY</th>
                    <th class="text-center text-uppercase">ĐẠT/KHÔNG</th>
                    <th class="text-center text-uppercase"></th>
                    <th class="text-center text-uppercase"></th>
                  </tr>
                </thead>
               <tbody style="background-color: white;">
                
               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="card h-95">
        <div class="card-header pb-0">
          <h6>Tỷ lệ lỗi</h6>
        </div>
        <div class="card-body p-3">
          <div class="timeline timeline-one-side">
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-success text-gradient">filter_1</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_0"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_0"></p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-danger text-gradient">filter_2</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_1"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_1"></p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-info text-gradient">filter_3</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_2"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_2"></p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-warning text-gradient">filter_4</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_3"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_3"></p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-primary text-gradient">filter_5</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_4"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_4"></p>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step">
                <i class="material-icons text-dark text-gradient">filter_6</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_5"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_5"></p>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step">
                <i class="material-icons text-dark text-gradient">filter_7</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_6"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_6"></p>
              </div>
            </div>
            <div class="timeline-block">
              <span class="timeline-step">
                <i class="material-icons text-dark text-gradient">filter_8</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0" id="top_irr_7"></h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0" id="top_irr_number_7"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>