<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Tổng Nhân Viên</p>
                    <h4 class="mb-0" id="total_employee"></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Hiệu suất</p>
                            <h4 class="mb-0" id="eff_medium"></h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Chỉ tiêu</p>
                            <h4 class="mb-0" id="tagets_medium"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">

        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-2">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Đạt</p>
                            <h4 class="mb-0" id="pass"></h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Không</p>
                            <h4 class="mb-0" id="not_pass"></h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <p class="mb-0">&nbsp;</p>
                            <h4 class="mb-0" id="percent_eff_pass"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Tổng Lỗi</p>
                    <h4 class="mb-0" id="total_irr"></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
        </div>
    </div>
</div>