<div class="modal fade zindex-modal" id="show_profile_employee" tabindex="99" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết nhân viên</h5>
            </div>
            <div class="modal-body">
              <H6>WAITING</H6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cancel()" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
