<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="margin-top: -15px">
  <ul class="navbar-nav">
    <h4 class="mt-2">BÁO CÁO AMT</h4>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button" id="fullScreenbtn">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span id="user">
          <%=user %>
        </span>
    </li>
    </a>
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="/logout" role="button">
        <i class="fas fa-th-large"></i>
        đăng xuất
      </a>
    </li>
  </ul>
</nav>

<style>
 .table-cont {
        /**make table can scroll**/
        max-height: 500px;
        overflow: auto;
        /** add some style**/
        /*padding: 2px;*/
        background: #ddd;
        margin: 20px 10px;
        box-shadow: 0 0 1px 3px #ddd;
    }

    thead {
        background-color: #ddd;
    }

  .error {
    color: red;
  }

  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }

  .form-control {
    font-weight: bold;
    font-size: 1vw;
  }

  button {
    width: 100%;
    font-weight: bold;
  }

  span {
    font-weight: bold;
    font-size: 1vw;
  }

  .loader {
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 

  /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 */

</style>
