<script>
    $(document).ready(() => {
        init();
    })


    init = () => {
        get_code_standard();
        get_code_standard_success();
    }

    add_new_code_success = () => {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Chú ý?',
            text: "Bạn muốn lưu code này lại không?",
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'Lưu',
            cancelButtonText: 'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                let info = {
                    CODE: $("#code_standard_list").val(),
                    DESCRIPTION: $("#description").val()
                }
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/api/amt/insert_code_success",
                    type: "POST",
                    data: JSON.stringify(info)
                }).done((responseText) => {
                    if (responseText.status == 200) {
                        $.notify('thêm thành công', 'success');
                        get_code_standard_success();
                    } else {
                        Swal.fire(
                            'Trùng lặp!',
                            'Code bạn vừa thêm đã tồn tại',
                            'warning'
                        )
                    }
                }).fail((e) => {
                    console.error(e);
                })

            }
        })
    }

    // nhận nội dung của code 
    get_description_code = () => {
        let code = {
            Code: $("#code_standard_list").val(),
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_description_code",
            type: "POST",
            data: JSON.stringify(code)
        }).done((description) => {
            $("#description").val(description[0].Description)
        }).fail((e) => {
            console.error(e);
        })

    }

    // xóa code standard success 
    delete_code_standard_success = (code) => {
        Swal.fire({
            title: 'CHÚ Ý?',
            text: "Bạn có muốn xóa code này không!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa!'
        }).then((result) => {
            if (result.isConfirmed) {
                let code_success = {
                    CODE: code
                }
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/api/amt/delete_code_standard_success",
                    type: "POST",
                    data: JSON.stringify(code_success)
                }).done((res) => {
                    if (res.status == 200) {
                        Swal.fire(
                            'Đã xóa!',
                            'Hành động này không thể khôi phục',
                            'success'
                        )
                        get_code_standard_success();
                    } else {
                        $.notify('Có lỗi hệ thống', 'error');
                    }
                }).fail((e) => {
                    console.error(e);
                })
            }
        })

    }

    // nhận code standard list đã thêm

    get_code_standard_success = () => {
        $("#code_standard_success tbody").empty();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_code_standard_success",
            type: "GET",
        }).done((code_list) => {
            $.each(code_list, (index, item) => {
                $("#code_standard_success tbody").append(
                    `
                    <tr>
                        <td>${item.CODE}</td>
                        <td>${item.DESCRIPTION}</td>
                        <td><button onclick="delete_code_standard_success(${item.CODE})" 
                            class = "btn btn-outline-danger">xóa</button></td>
                    </tr>
                    `
                )
            })
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận code standard 
    get_code_standard = () => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_code_standard",
            type: "GET",
        }).done((code_list) => {
            $.each(code_list, (index, item) => {
                $("#code_standard_list").append(
                    `
                    <option value="${item.Code}" selected>${item.Code}</option>
                    `
                )
            })
            get_description_code();
        }).fail((e) => {
            console.error(e);
        })
    }

    // display modal handle file
    handle_file = () => {
        $("#handle_file").modal("show");
    }

    // upload file
    updload_file = () => {
        $("#handle_file").modal('hide');
        var form = document.getElementById('upload_file_tagets');
        if (document.getElementById('tagets_file').value != '') {
            let timerInterval
            Swal.fire({
                title: 'Đang cập nhật, vui lòng đợi!',
                timer: 15000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 15000)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    console.log('I was closed by the timer')
                }
            })
            event.preventDefault();
            var xsend = new XMLHttpRequest();
            var fileInput = document.getElementById('tagets_file');
            var file;
            file = fileInput.files[0];
            console.log(file['name']);
            var formData = new FormData();
            formData.append('filee', file);
            if (file != null) {
                xsend.open('POST', '/api/amt/uploadfileemployeeinfo', true);
                xsend.send(formData);
                xsend.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var data = this.responseText;
                        console.log(data)
                        if (data == 'success') {
                            $.notify('cập nhật thành công', 'success');
                            clearInterval(timerInterval)
                        } else {
                            $.notify('cập nhật không thành công', 'error');
                            $("#handle_file").modal('show');
                        }
                    }
                }
            }
        } else {
            $.notify('Bạn chưa chọn file', 'error');
            return;
        }
    }

    update_tagets_training_file = () => {
        $("#handle_file_tagets").modal('show');
    }

    // cập nhật danh sách kỹ thuật
    handle_file_tech = () => {
        $("#handle_file_technician").modal('show');
    }

    updload_file_tech = () => {
        $("#handle_file_technician").modal('hide');
        var form = document.getElementById('upload_file_technician');
        if (document.getElementById('tech_file').value != '') {
            let timerInterval
            Swal.fire({
                title: 'Đang cập nhật, vui lòng đợi!',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 2000)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    console.log('I was closed by the timer')
                }
            })
            event.preventDefault();
            var xsend = new XMLHttpRequest();
            var fileInput = document.getElementById('tech_file');
            var file;
            file = fileInput.files[0];
            console.log(file['name']);
            var formData = new FormData();
            formData.append('filee', file);
            if (file != null) {
                xsend.open('POST', '/api/amt/upload_file_technician', true);
                xsend.send(formData);
                xsend.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var data = this.responseText;
                        console.log(data)
                        if (data == 'success') {
                            $.notify('cập nhật thành công', 'success');
                            $("#handle_file_technician").modal('hide');
                        } else {
                            $.notify('cập nhật không thành công', 'error');
                            $("#handle_file_technician").modal('show');
                        }
                    }
                }
            }
        } else {
            alert("Không có tệp nào được chọn!!!")
        }
    }
    // cập nhật tagets đường cong đào tạo
    upload_file_tagets = () => {
        $("#handle_file_tagets").modal('hide');
        var form = document.getElementById('upload_file_tagets_training');
        if (document.getElementById('tagets_file_training').value != '') {
            let timerInterval
            Swal.fire({
                title: 'Đang cập nhật, vui lòng đợi!',
                timer: 15000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 15000)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    console.log('I was closed by the timer')
                }
            })
            event.preventDefault();
            var xsend = new XMLHttpRequest();
            var fileInput = document.getElementById('tagets_file_training');
            var file;
            file = fileInput.files[0];
            console.log(file['name']);
            var formData = new FormData();
            formData.append('filee', file);
            if (file != null) {
                xsend.open('POST', '/api/amt/uploadfiletagetstrainingtracking', true);
                xsend.send(formData);
                xsend.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var data = this.responseText;
                        console.log(data)
                        if (data == 'success') {
                            $.notify('cập nhật thành công', 'success');
                            $("#handle_file_tagets").modal('hide');
                        } else {
                            $.notify('cập nhật không thành công', 'error');
                            $("#handle_file_tagets").modal('show');
                        }
                    }
                }
            }
        } else {
            alert("Không có tệp nào được chọn!!!")
        }
    }
</script>