<script>
    // table custom fixed thead
    var tableCont = document.querySelector('#table-cont')
    /**
     * scroll handle
     * @param {event} e -- scroll event
     */
    function scrollHandle(e) {
        var scrollTop = this.scrollTop;
        this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
    }

    tableCont.addEventListener('scroll', scrollHandle)

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    get_name_employee = (id) => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_name_employee/" + id,
            type: "GET",
        }).done((employee) => {
            $("#employee_name_tracking").text(employee[0].NAME);
        }).fail((e) => {
            console.error(e);
        })
    }

    var eff_chart = Object;
    get_data_eff_training = (id) => {
        let employee = {
            ID: id,
            DAY_TRACKING: $("#day_tracking").val(),
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_data_eff_training/",
            type: "POST",
            data: JSON.stringify(employee)
        }).done((arrData) => {
            console.log(arrData.length);
            $("#day_number_eff").text(`${arrData.length} ngày gần nhất`);
            let labels_date = '';
            let data_EFF = '';
            let data_tagets = '';
            switch (arrData.length) {
                case 1:
                    labels_date = [arrData[0].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF];
                    data_tagets = [arrData[0].TAGETS];
                    break;
                case 2:
                    labels_date = [arrData[0].DAY_TRACKING, arrData[1].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF, arrData[1].EFF];
                    data_tagets = [arrData[0].TAGETS, arrData[1].TAGETS];
                    break;
                case 3:
                    labels_date = [arrData[0].DAY_TRACKING, arrData[1].DAY_TRACKING, arrData[2].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF, arrData[1].EFF, arrData[2].EFF];
                    data_tagets = [arrData[0].TAGETS, arrData[1].TAGETS, arrData[2].TAGETS];
                    break;
                case 4:
                    labels_date = [arrData[0].DAY_TRACKING, arrData[1].DAY_TRACKING, arrData[2].DAY_TRACKING, arrData[3].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF, arrData[1].EFF, arrData[2].EFF, arrData[3].EFF];
                    data_tagets = [arrData[0].TAGETS, arrData[1].TAGETS, arrData[2].TAGETS, arrData[3].TAGETS];
                    break;
                case 5:
                    labels_date = [arrData[0].DAY_TRACKING, arrData[1].DAY_TRACKING, arrData[2].DAY_TRACKING, arrData[3].DAY_TRACKING, arrData[4].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF, arrData[1].EFF, arrData[2].EFF, arrData[3].EFF, arrData[4].EFF];
                    data_tagets = [arrData[0].TAGETS, arrData[1].TAGETS, arrData[2].TAGETS, arrData[3].TAGETS, arrData[4].TAGETS];
                    break;
                case 6:
                    labels_date = [arrData[0].DAY_TRACKING, arrData[1].DAY_TRACKING, arrData[2].DAY_TRACKING, arrData[3].DAY_TRACKING, arrData[4].DAY_TRACKING, arrData[5].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF, arrData[1].EFF, arrData[2].EFF, arrData[3].EFF, arrData[4].EFF, arrData[5].EFF];
                    data_tagets = [arrData[0].TAGETS, arrData[1].TAGETS, arrData[2].TAGETS, arrData[3].TAGETS, arrData[4].TAGETS, arrData[5].TAGETS];
                    break;
                case 7:
                    labels_date = [arrData[0].DAY_TRACKING, arrData[1].DAY_TRACKING, arrData[2].DAY_TRACKING, arrData[3].DAY_TRACKING, arrData[4].DAY_TRACKING, arrData[5].DAY_TRACKING,arrData[6].DAY_TRACKING];
                    data_EFF = [arrData[0].EFF, arrData[1].EFF, arrData[2].EFF, arrData[3].EFF, arrData[4].EFF, arrData[5].EFF, arrData[6].EFF];
                    data_tagets = [arrData[0].TAGETS, arrData[1].TAGETS, arrData[2].TAGETS, arrData[3].TAGETS, arrData[4].TAGETS, arrData[5].TAGETS, arrData[6].TAGETS];
                    break;
            }

            var eff = document.getElementById("chart-bars").getContext('2d');

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;

            var dataFirst = {
                label: "Đường cong",
                data: data_tagets,
                lineTension: 0,
                fill: false,
                borderColor: 'red'
            };

            var dataSecond = {
                label: "Hiệu suất",
                data: data_EFF,
                lineTension: 0,
                fill: false,
                borderColor: 'blue'
            };

            var training_data = {
                labels: labels_date,
                datasets: [dataFirst, dataSecond]
            };

            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 30,
                        fontColor: 'black'
                    }
                }
            };

            eff_chart = new Chart(eff, {
                type: 'line',
                data: training_data,
                options: chartOptions
            });
        }).fail((e) => {
            console.error(e);
        })
    }

    var irr_chart_tracking = Object;
    get_data_irr_training = (id) => {
        let employee = {
            ID: id,
            DAY_TRACKING: $("#day_tracking").val(),
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_data_irr_training/",
            type: "POST",
            data: JSON.stringify(employee)
        }).done((irr_data) => {
            $("#day_number_irr").text(`${irr_data.length} ngày gần nhất`);
            let label_data = [];
            let data_irr = [];
            switch (irr_data.length) {
                case 1:
                    label_data = [irr_data[0].DATE];
                    data_irr = [irr_data[0].QUANTITY];
                    break;
                case 2:
                    label_data = [irr_data[0].DATE, irr_data[1].DATE];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY];
                    break;
                case 3:
                    label_data = [irr_data[0].DATE, irr_data[1].DATE, irr_data[2].DATE];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY];
                    break;
                case 4:
                    label_data = [irr_data[0].DATE, irr_data[1].DATE, irr_data[2].DATE, irr_data[3].DATE];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY, irr_data[3].QUANTITY];
                    break;
                case 5:
                    label_data = [irr_data[0].DATE, irr_data[1].DATE, irr_data[2].DATE, irr_data[3].DATE, irr_data[4].DATE];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY, irr_data[3].QUANTITY, irr_data[4].QUANTITY];
                    break;
                case 6:
                    label_data = [irr_data[0].DATE, irr_data[1].DATE, irr_data[2].DATE, irr_data[3].DATE, irr_data[4].DATE, irr_data[5].DATE];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY, irr_data[3].QUANTITY, irr_data[4].QUANTITY, irr_data[5].QUANTITY];
                    break;
                case 7:
                    label_data = [irr_data[0].DATE, irr_data[1].DATE, irr_data[2].DATE, irr_data[3].DATE, irr_data[4].DATE, irr_data[5].DATE, irr_data[6].DATE];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY, irr_data[3].QUANTITY, irr_data[4].QUANTITY, irr_data[5].QUANTIT, irr_data[6].QUANTIT];
                    break;
            }

            var irr_chart = document.getElementById("chart-line").getContext("2d");
            irr_chart_tracking = new Chart(irr_chart, {
                type: "line",
                data: {
                    labels: label_data,
                    datasets: [{
                        label: "Lỗi",
                        tension: 0,
                        borderWidth: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(255, 255, 255, .8)",
                        pointBorderColor: "transparent",
                        borderColor: "rgba(255, 255, 255, .8)",
                        borderColor: "rgba(255, 255, 255, .8)",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: data_irr,
                        maxBarThickness: 6

                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(255, 255, 255, .2)'
                            },
                            ticks: {
                                display: true,
                                color: '#f8f9fa',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 1
                                },
                            }
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: false,
                                drawOnChartArea: false,
                                drawTicks: false,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                color: '#f8f9fa',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 1
                                },
                            }
                        },
                    },
                },
            });
        }).fail((e) => {
            console.error(e);
        })
    }




    // get Percent irr 
    var percent_irr = Object;
    get_percent_irr = async (id) => {
        let employee = {
            ID: id,
            DAY_TRACKING: $("#day_tracking").val(),
        }
        await $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_percent_irr_training/",
            type: "POST",
            data: JSON.stringify(employee)
        }).done((irr_data) => {
            console.log(irr_data)
            var labels_irr = [];
            var data_irr = [];
            var backgroundColor_irr = [];
            switch (irr_data.length) {
                case 1:
                    labels_irr = [irr_data[0].IRR_NAME];
                    data_irr = [irr_data[0].QUANTITY];
                    backgroundColor_irr = ['#49a3f1'];
                    break;
                case 2:
                    labels_irr = [irr_data[0].IRR_NAME, irr_data[1].IRR_NAME];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY];
                    backgroundColor_irr = ['#49a3f1', '#66BB6A'];
                    break;
                case 3:
                    labels_irr = [irr_data[0].IRR_NAME, irr_data[1].IRR_NAME, irr_data[2].IRR_NAME];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY];
                    backgroundColor_irr = ['#49a3f1', '#66BB6A', '#EC407A'];
                    break;
                case 4:
                    labels_irr = [irr_data[0].IRR_NAME, irr_data[1].IRR_NAME, irr_data[2].IRR_NAME, irr_data[3].IRR_NAME];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY, irr_data[3].QUANTITY];
                    backgroundColor_irr = ['#49a3f1', '#66BB6A', '#EC407A', '#FFA726'];
                    break;
                case 5:
                    labels_irr = [irr_data[0].IRR_NAME, irr_data[1].IRR_NAME, irr_data[2].IRR_NAME, irr_data[3].IRR_NAME, irr_data[4].IRR_NAME];
                    data_irr = [irr_data[0].QUANTITY, irr_data[1].QUANTITY, irr_data[2].QUANTITY, irr_data[3].QUANTITY, irr_data[4].QUANTITY];
                    backgroundColor_irr = ['#49a3f1', '#66BB6A', '#EC407A', '#FFA726', '#EF5350'];
                    break;

            }

            const data = {
                labels: labels_irr,
                datasets: [{
                    label: 'Percent Irr',
                    data: data_irr,
                    backgroundColor: backgroundColor_irr,
                    hoverOffset: 2
                }]
            };
            var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");
            percent_irr = new Chart(ctx3, {
                type: 'doughnut',
                data: data,
            });
        }).fail((e) => {
            console.error(e)
        })
    }



    $(document).ready(() => {
        init();
    })



    // hàm khỏi đầu
    init = () => {
        get_start_date_list();
        load_time();
    }
    // theo dõi chi tiết employee
    see_employee_detail = (id) => {
        $("#chart_views_employee").show();
        get_data_eff_training(id);
        get_data_irr_training(id);
        get_name_employee(id);
        get_percent_irr(id);
    }
    // ẩn chart theo dõi > hủy
    none_chart = () => {
        $("#chart_views_employee").hide();
        destroy_percent(percent_irr);
        destroy_eff(eff_chart);
        destroy_irr(irr_chart_tracking);
    }
    // hủy chart eff
    destroy_eff = (eff) => {
        eff.destroy();
    }
    // hủy chart irr
    destroy_irr = (irr) => {
        irr.destroy();
    }
    // hủy chart percent
    destroy_percent = (percent) => {
        percent.destroy();
    }





    // nhận số lượng lỗi
    get_irr_by_day_tracking = (start_date, day_tracking) => {
        let data = {
            START_DATE: start_date,
            DAY_TRACKING: day_tracking
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_irr_by_day_tracking",
            type: "post",
            data: JSON.stringify(data)
        }).done((irr_list) => {
            let total = 0;
            irr_list.sort(function (a, b) {
                return b.TOTAL - a.TOTAL
            })
            console.log(irr_list);
            $.each(irr_list, (index, item) => {
                $("#top_irr_" + index).text(item.IRR_NAME);
                $("#top_irr_number_" + index).text(item.TOTAL);
            })
            $.each(irr_list, (index, item) => {
                total += parseInt(item.TOTAL);
            })
            $("#total_irr").text(total);
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận thông tin chi tiết qua ngày bắt đầu
    get_info_employee_by_start_date = () => {
        $("#employee_profile_tab tbody").empty();
        // none_chart();
        let day_tracking = {
            START_DATE: $("#start_date").val(),
            DAY_TRACKING: $("#day_tracking").val(),
        }
        get_irr_by_day_tracking(day_tracking.START_DATE, day_tracking.DAY_TRACKING);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_info_employee_by_start_date",
            type: "post",
            data: JSON.stringify(day_tracking)
        }).done((employee_profile) => {
            $("#total_employee").text(employee_profile.length);
            let pass = 0;
            let not_pass = 0;
            $.each(employee_profile, (index, item) => {
                if (item.EFF > item.TAGETS) {
                    pass++
                } else {
                    not_pass++
                }
                $("#employee_profile_tab tbody").append(
                    `
                    <tr ondblclick = "see_employee_detail(${item.ID})">
                        <td>${item.ID}</td>
                        <td>${item.NAME}</td>
                        <td>${item.DAY_TRACKING}</td>
                        <td style="color:${item.EFF > item.TAGETS ? '#43A047' : '#EC407A'};">${item.EFF > item.TAGETS ? 'ĐẠT' : 'KHÔNG ĐẠT'}</td>
                    </tr>
                    `
                )
            })
            $("#pass").text(pass);
            $("#not_pass").text(not_pass);
        }).fail((e) => {
            console.error(e);
        })
    }

    // lấy danh sách ngày vào
    get_start_date_list = () => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_start_date_list",
            type: "get",
        }).done((data) => {
            $.each(data, (index, item) => {
                $("#start_date").append(
                    `
                    <option value = "${item.START_DATE}">${item.START_DATE}</option>
                    `
                )
            })
        }).fail((e) => {
            console.error(e);
        })
    }

    // format time
    format_time = (time) => {
        return (new Date(time)).toLocaleDateString('fr-CA');
    }


    function load_time() {
        let datenow = format_time(Date.now());

        var date = new Date(datenow);
        // let start_date = format_time(date1.setDate(date1.getDate() - 10));
        let day_get_data = format_time(date.setDate(date.getDate() - 2));
        $("#day_tracking").val(day_get_data);
        // getDataAmtEmployee();
        // change_start_date();

    }

</script>