<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    var ctx = document.getElementById("chart-bars").getContext("2d");
    new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
                label: "Sales",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "rgba(255, 255, 255, .8)",
                data: [50, 20, 10, 22, 50, 10, 40],
                maxBarThickness: 6
            },],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff"
                    },
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
        type: "line",
        data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Mobile apps",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
                maxBarThickness: 6

            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
        type: "line",
        data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Mobile apps",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                maxBarThickness: 6

            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#f8f9fa',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });
</script>
<script>
    $(document).ready(() => {
        init();
    })

    init = () => {
        load_week();
        get_data_of_week();
        get_group_line_of_week();
    }

    load_week = () => {
        for (let i = 1; i <= getWeek(new Date()); i++) {
            $("#week_get_data").append(
                `
                <option value = "${i}" selected>${i}</option>
                `
            )
        }
    }

    var group_line = [];
    get_group_line_of_week = () => {
        let week = $("#week_get_data").val()
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_group_line_of_week/" + week,
            type: "get",
        }).done((data) => {
            group_line = data;
        }).fail((e) => {
            console.error(e);
        })
    }

     // nhận danh sách lỗi của tuần
     get_irr_of_week = () => {
        let week = $("#week_get_data").val();
         $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_irr_of_week/" + week,
            type: "get",
        }).done((data) => {
            let bali_pass = 0;
            let rit_pass = 0;
            let bali_not = 0;
            let rit_not = 0;
            console.log(data);
            $.each(data,(index, item) => {
                if(item.SHIFT == 'BAL'&& item.QUANTITY > 3){
                    bali_not ++;
                }
                if(item.SHIFT == 'BAL' && (item.QUANTITY <= 3 || item.QUANTITY == null )){
                   bali_pass ++;
                }
                if(item.SHIFT == 'RIT' && (item.QUANTITY <= 3 || item.QUANTITY == null )){
                    rit_pass ++;
                }
                if(item.SHIFT == 'RIT' && item.QUANTITY > 3){
                    rit_not ++;
                }
            })
            $("#bali_qc_pass").text(bali_pass)
            $("#bali_qc_not").text(bali_not);
            $("#rit_qc_pass").text(rit_pass)
            $("#rit_qc_not").text(rit_not)
        }).fail((e)=>{
            console.log(e);
        })
    }

    // nhận data tu
    get_data_of_week = () => {
        $("#amt_report tbody").empty();
        let week = $("#week_get_data").val()
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_data_of_week/" + week,
            type: "get",
        }).done((data) => {
            console.log(data)
            let bal_qua = 0;
            let rit_qua = 0;
            let bali_pass = 0;
            let rit_pass = 0;
            let bali_not = 0;
            let rit_not = 0;
            $.each(data, (index, item) => {
                if (item.SHIFT == 'BAL') {
                    bal_qua += parseInt(item.QUANTITY);
                } else {
                    rit_qua += parseInt(item.QUANTITY)
                }
                
                if(item.SHIFT == 'BAL' && item.DES == 'ĐẠT'){
                    bali_pass += item.QUANTITY;
                }
                if(item.SHIFT == 'BAL' && item.DES == 'KHÔNG'){
                    bali_not += item.QUANTITY;
                }

                if(item.SHIFT == 'RIT' && item.DES == 'ĐẠT'){
                    rit_pass += item.QUANTITY;
                }
                if(item.SHIFT == 'RIT' && item.DES == 'KHÔNG'){
                    rit_not += item.QUANTITY;
                }
                

            })

            $("#amt_report tbody").append(
                `
                <tr>
                    <td>BAL</td>
                    <td>${bal_qua}</td>
                    <td>${bali_pass}</td>
                    <td>${bali_not}</td>
                    <td id="bali_qc_pass"></td>
                    <td id="bali_qc_not"></td>
                </tr>
                <tr>
                    <td>RIT</td>
                    <td>${rit_qua}</td>
                    <td>${rit_pass}</td>
                    <td>${rit_not}</td>
                    <td id="rit_qc_pass"></td>
                    <td id="rit_qc_not"></td>
                </tr>
                `
            )
            get_irr_of_week();
        }).fail((e) => {
            console.error(e);
        })

    }
    function getWeek(dt) {
        var calc = function (o) {
            if (o.dtmin.getDay() != 1) {
                if (o.dtmin.getDay() <= 4 && o.dtmin.getDay() != 0) o.w += 1;
                o.dtmin.setDate((o.dtmin.getDay() == 0) ? 2 : 1 + (7 - o.dtmin.getDay()) + 1);
            }
            o.w += Math.ceil((((o.dtmax.getTime() - o.dtmin.getTime()) / (24 * 60 * 60 * 1000)) + 1) / 7);
        }, getNbDaysInAMonth = function (year, month) {
            var nbdays = 31;
            for (var i = 0; i <= 3; i++) {
                nbdays = nbdays - i;
                if ((dtInst = new Date(year, month - 1, nbdays)) && dtInst.getDate() == nbdays && (dtInst.getMonth() + 1) == month && dtInst.getFullYear() == year)
                    break;
            }
            return nbdays;
        };
        if (dt.getMonth() + 1 == 1 && dt.getDate() >= 1 && dt.getDate() <= 3 && (dt.getDay() >= 5 || dt.getDay() == 0)) {
            var pyData = { "dtmin": new Date(dt.getFullYear() - 1, 0, 1, 0, 0, 0, 0), "dtmax": new Date(dt.getFullYear() - 1, 11, getNbDaysInAMonth(dt.getFullYear() - 1, 12), 0, 0, 0, 0), "w": 0 };
            calc(pyData);
            return pyData.w;
        } else {
            var ayData = { "dtmin": new Date(dt.getFullYear(), 0, 1, 0, 0, 0, 0), "dtmax": new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), 0, 0, 0, 0), "w": 0 },
                nd12m = getNbDaysInAMonth(dt.getFullYear(), 12);
            if (dt.getMonth() == 12 && dt.getDay() != 0 && dt.getDay() <= 3 && nd12m - dt.getDate() <= 3 - dt.getDay()) ayData.w = 1; else calc(ayData);
            return ayData.w;
        }
    }

</script>