<script>
    $(document).ready(() => {
        var tableCont = document.querySelector('#table-cont')
            /**
             * scroll handle
             * @param {event} e -- scroll event
             */
        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
        }
        var tableCont = document.querySelector('#table-cont-reason')
            /**
             * scroll handle
             * @param {event} e -- scroll event
             */
        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
        }


        tableCont.addEventListener('scroll', scrollHandle)
        init();
    })

    init = () => {
        load_week();
        get_data_of_week();
    }

    load_week = () => {
        for (let i = 1; i <= getWeek(new Date()); i++) {
            $("#week_get_data").append(
                `
                <option value = "${i}" selected>${i}</option>
                `
            )
        }
    }

    // Nhận lý do không đạt của group_line trong tuần
    get_reason_of_group_line_in_week = () => {
        $("#reason_of_group_line_in_week tbody").empty();
        let gr_and_week = {
            GROUP_LINE: $("#group_line_in_week").val(),
            SHIFT : $("#get_data_of_shift").val(),
            week: $("#week_get_data").val()
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_reason_of_group_line_in_week",
            type: "POST",
            data: JSON.stringify(gr_and_week)
        }).done((reason_list) => {
            let total = 0;
            $.each(reason_list, (index, item) => {
                total += item.SL;
            })
            reason_list.sort((a, b) => {
                return b.SL - a.SL
            })
            $.each(reason_list, (index, item) => {
                $("#reason_of_group_line_in_week tbody").append(
                    `
                    <tr>
                        <td>${item.REASON}</td>
                        <td>${item.SL}</td>
                        <td>${Math.floor((item.SL / total) * 100)}%</td>
                    </tr>
                    `
                )
            })
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận lý do không đạt của tuần

    get_reasoon_in_week = () => {
        $("#reason_in_week tbody").empty();
        let week = $("#week_get_data").val();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_reason_in_week/" + week,
            type: "get",
        }).done((reason_list) => {
            let total = 0;
            $.each(reason_list, (index, item) => {
                total += item.SL;
            })
            reason_list.sort((a, b) => {
                return b.SL - a.SL
            })
            $.each(reason_list, (index, item) => {

                $("#reason_in_week tbody").append(
                    `
                    <tr>
                        <td>${item.REASON}</td>
                        <td>${item.SL}</td>
                        <td>${Math.floor((item.SL / total) * 100)}%</td>
                    </tr>
                    `
                )
            })
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận lỗi của group_line trong tuần
    get_irr_of_group_line_in_week = (group_line) => {
        let gr_and_week = {
            GROUP_LINE: group_line,
            week: $("#week_get_data").val()
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_irr_of_group_line_in_week",
            type: "POST",
            data: JSON.stringify(gr_and_week)
        }).done((data) => {
            console.log('irr list', data)
            let bal_pass = 0;
            let bal_not = 0;
            let rit_pass = 0;
            let rit_not = 0;
            let id_bal_pass = '';
            let id_bal_not = '';
            let id_rit_pass = '';
            let id_rit_not = '';
            let id_total_qc_pass = '';
            let id_total_qc_not = '';
            $.each(data, (index, item) => {
                id_bal_pass = item.GROUP_LINE + '_bal_qc_pass'
                id_bal_not = item.GROUP_LINE + '_bal_qc_not'
                id_rit_pass = item.GROUP_LINE + '_rit_qc_pass'
                id_rit_not = item.GROUP_LINE + '_rit_qc_not'
                id_total_qc_pass = item.GROUP_LINE + '_total_qc_pass'
                id_total_qc_not = item.GROUP_LINE + '_total_qc_not'
                if (item.QUANTITY > 3 && item.SHIFT == 'BAL') {
                    bal_not++;
                }
                if ((item.QUANTITY <= 3 || item.QUANTITY == null) && item.SHIFT == 'BAL') {
                    bal_pass++;
                }
                if (item.QUANTITY > 3 && item.SHIFT == 'RIT') {
                    rit_not++;
                }
                if ((item.QUANTITY <= 3 || item.QUANTITY == null) && item.SHIFT == 'RIT') {
                    rit_pass++;
                }
            });

            document.getElementById(`${id_bal_pass}`).innerText = bal_pass;
            document.getElementById(`${id_bal_not}`).innerText = bal_not;
            document.getElementById(`${id_rit_pass}`).innerText = rit_pass;
            document.getElementById(`${id_rit_not}`).innerText = rit_not;
            document.getElementById(`${id_total_qc_pass}`).innerText = rit_pass + bal_pass;
            document.getElementById(`${id_total_qc_not}`).innerText = rit_not + bal_not;
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận danh sách group line
    get_group_line_of_week = () => {
        $("#group_line_in_week").empty();
        let week = $("#week_get_data").val()
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_group_line_of_week/" + week,
            type: "get",
        }).done((data) => {
            console.log("data", data);
            $.each(data, (index, item) => {
                $("#group_line_in_week").append(
                    `
                        <option value="${item.GROUP_LINE}">${item.GROUP_LINE}</option>
                    `
                )
            })
            if (data != null) {
                for (let i = 0; i < data.length; i++) {
                    get_data_of_group_line_in_week(data[i].GROUP_LINE);
                };
            }
        get_reason_of_group_line_in_week();
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận dữ liệu của group_line trong tuần
    get_data_of_group_line_in_week = (group_line) => {
        $("#amt_report_group_line_detail tbody").empty();
        let gr_and_week = {
            GROUP_LINE: group_line,
            week: $("#week_get_data").val()
        }
        console.log(gr_and_week);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_data_of_group_line_in_week",
            type: "POST",
            data: JSON.stringify(gr_and_week)
        }).done((data) => {
            console.log(data);
            let hc_bal = 0;
            let hc_rit = 0;
            let bal_pass = 0;
            let bal_not = 0;
            let rit_pass = 0;
            let rit_not = 0;
            $.each(data, (index, item) => {
                if (item.SHIFT == 'BAL') {
                    hc_bal += item.SL
                }
                if (item.SHIFT == 'RIT') {
                    hc_rit += item.SL
                }
                if (item.SHIFT == 'BAL' && item.DES == 'ĐẠT') {
                    bal_pass += item.SL;
                }
                if (item.SHIFT == 'BAL' && item.DES == 'KHÔNG') {
                    bal_not += item.SL;
                }
                if (item.SHIFT == 'RIT' && item.DES == 'ĐẠT') {
                    rit_pass += item.SL;
                }
                if (item.SHIFT == 'RIT' && item.DES == 'KHÔNG') {
                    rit_not += item.SL;
                }
            })
            $("#amt_report_group_line_detail tbody").append(
                `
                <tr style="background-color: #f2e0d7; color: black; font-weight: bold">
                    <td rowspan="2">${group_line}</td>
                    <td>BALI</td>
                    <td>${hc_bal}</td>
                    <td>${bal_pass}</td>
                    <td>${bal_not}</td>
                    <td id="${group_line}_bal_qc_pass"></td>
                    <td id="${group_line}_bal_qc_not"></td>
                </tr>
                <tr style="background-color: #f2e0d7; color: black; font-weight: bold">
                    <td>RIT</td>
                    <td>${hc_rit}</td>
                    <td>${rit_pass}</td>
                    <td>${rit_not}</td>
                    <td id="${group_line}_rit_qc_pass"></td>
                    <td id="${group_line}_rit_qc_not"></td>
                </tr>
                <tr  style="background-color: #bb8e75;color: black; font-weight: bold;">
                    <td>TỔNG</td>
                    <td></td>
                    <td>${hc_bal + hc_rit}</td>
                    <td>${bal_pass + rit_pass}</td>
                    <td>${rit_not + bal_not}</td>
                    <td id="${group_line}_total_qc_pass"></td>
                    <td id="${group_line}_total_qc_not"></td>
                </tr>
                `
            )
            $.each(data, (index, item) => {
                get_irr_of_group_line_in_week(item.GROUP_LINE);
            })
        }).fail((e) => {
            console.error(e);
        })
    }

    // nhận danh sách lỗi của tuần
    get_irr_of_week = () => {
        let week = $("#week_get_data").val();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_irr_of_week/" + week,
            type: "get",
        }).done((data) => {
            let bali_pass = 0;
            let rit_pass = 0;
            let bali_not = 0;
            let rit_not = 0;
            console.log(data);
            $.each(data, (index, item) => {
                if (item.SHIFT == 'BAL' && item.QUANTITY > 3) {
                    bali_not++;
                }
                if (item.SHIFT == 'BAL' && (item.QUANTITY <= 3 || item.QUANTITY == null)) {
                    bali_pass++;
                }
                if (item.SHIFT == 'RIT' && (item.QUANTITY <= 3 || item.QUANTITY == null)) {
                    rit_pass++;
                }
                if (item.SHIFT == 'RIT' && item.QUANTITY > 3) {
                    rit_not++;
                }
            })
            $("#bali_qc_pass").text(bali_pass)
            $("#bali_qc_not").text(bali_not);
            $("#rit_qc_pass").text(rit_pass)
            $("#rit_qc_not").text(rit_not)
            $("#total_qc_pass").text(bali_pass + rit_pass);
            $("#total_qc_not").text(bali_not + rit_not);
        }).fail((e) => {
            console.log(e);
        })
    }

    // nhận data tuần
    get_data_of_week = () => {
        $("#amt_report tbody").empty();
        $("#reason_in_week tbody").empty();
        $("#amt_report_group_line_detail tbody").empty();
        let week = $("#week_get_data").val();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/get_data_of_week/" + week,
            type: "get",
        }).done((data) => {
            console.log(data)
            let bal_qua = 0;
            let rit_qua = 0;
            let bali_pass = 0;
            let rit_pass = 0;
            let bali_not = 0;
            let rit_not = 0;
            $.each(data, (index, item) => {
                if (item.SHIFT == 'BAL') {
                    bal_qua += parseInt(item.QUANTITY);
                } else {
                    rit_qua += parseInt(item.QUANTITY)
                }

                if (item.SHIFT == 'BAL' && item.DES == 'ĐẠT') {
                    bali_pass += item.QUANTITY;
                }
                if (item.SHIFT == 'BAL' && item.DES == 'KHÔNG') {
                    bali_not += item.QUANTITY;
                }

                if (item.SHIFT == 'RIT' && item.DES == 'ĐẠT') {
                    rit_pass += item.QUANTITY;
                }
                if (item.SHIFT == 'RIT' && item.DES == 'KHÔNG') {
                    rit_not += item.QUANTITY;
                }


            })

            $("#amt_report tbody").append(
                `
                <tr style="background-color: #f2e0d7; color: black; font-weight: bold">
                    <td>BAL</td>
                    <td>${bal_qua}</td>
                    <td>${bali_pass}</td>
                    <td>${bali_not}</td>
                    <td id="bali_qc_pass"></td>
                    <td id="bali_qc_not"></td>
                </tr>
                <tr style="background-color: #f2e0d7; color: black; font-weight: bold">
                    <td>RIT</td>
                    <td>${rit_qua}</td>
                    <td>${rit_pass}</td>
                    <td>${rit_not}</td>
                    <td id="rit_qc_pass"></td>
                    <td id="rit_qc_not"></td>
                </tr>
                <tr  style="background-color: #bb8e75;color: black; font-weight: bold;">
                    <td>Tổng</td>
                    <td>${bal_qua + rit_qua}</td>
                    <td>${bali_pass + rit_pass}</td>
                    <td>${bali_not + rit_not}</td>
                    <td id="total_qc_pass"></td>
                    <td id="total_qc_not"></td>
                </tr>
                `
            )
            get_irr_of_week();
            get_group_line_of_week();
            get_reasoon_in_week();
        }).fail((e) => {
            console.error(e);
        })

    }

    function getWeek(dt) {
        var calc = function(o) {
                if (o.dtmin.getDay() != 1) {
                    if (o.dtmin.getDay() <= 4 && o.dtmin.getDay() != 0) o.w += 1;
                    o.dtmin.setDate((o.dtmin.getDay() == 0) ? 2 : 1 + (7 - o.dtmin.getDay()) + 1);
                }
                o.w += Math.ceil((((o.dtmax.getTime() - o.dtmin.getTime()) / (24 * 60 * 60 * 1000)) + 1) / 7);
            },
            getNbDaysInAMonth = function(year, month) {
                var nbdays = 31;
                for (var i = 0; i <= 3; i++) {
                    nbdays = nbdays - i;
                    if ((dtInst = new Date(year, month - 1, nbdays)) && dtInst.getDate() == nbdays && (dtInst.getMonth() + 1) == month && dtInst.getFullYear() == year)
                        break;
                }
                return nbdays;
            };
        if (dt.getMonth() + 1 == 1 && dt.getDate() >= 1 && dt.getDate() <= 3 && (dt.getDay() >= 5 || dt.getDay() == 0)) {
            var pyData = {
                "dtmin": new Date(dt.getFullYear() - 1, 0, 1, 0, 0, 0, 0),
                "dtmax": new Date(dt.getFullYear() - 1, 11, getNbDaysInAMonth(dt.getFullYear() - 1, 12), 0, 0, 0, 0),
                "w": 0
            };
            calc(pyData);
            return pyData.w;
        } else {
            var ayData = {
                    "dtmin": new Date(dt.getFullYear(), 0, 1, 0, 0, 0, 0),
                    "dtmax": new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), 0, 0, 0, 0),
                    "w": 0
                },
                nd12m = getNbDaysInAMonth(dt.getFullYear(), 12);
            if (dt.getMonth() == 12 && dt.getDay() != 0 && dt.getDay() <= 3 && nd12m - dt.getDate() <= 3 - dt.getDay()) ayData.w = 1;
            else calc(ayData);
            return ayData.w;
        }
    }
</script>