<script>
    $(document).ready(() => {
        init();

        // table custom fixed thead
        var tableCont = document.querySelector('#table-container')
        /**
         * scroll handle
         * @param {event} e -- scroll event
         */
        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)

        $("#reduce_form").validate({
            ruler: {
                reduce_date: {
                    required: true,
                    Number: true,
                    minlength: 1,
                    maxlength: 3
                },
            },
            messages: {
                reduce_date: {
                    required: 'Không để trống',
                    minlength: 'độ dài tối thiểu là 1 kí tự',
                    maxlength: 'độ dài tối đã 3 kí tự',
                    Number: 'chỉ được nhập số'
                },
            }
        });
    })

    init = () => {
        getStartDate();
        load_time();
        change_start_date();
    }

    // show modal upload file
    update_employee_info = () => {
        $("#handle_file").modal('show');
        $("#tagets_file").val('');
    }

    // error total display
    irr_display = () => {
        $("#irr_display").modal('show');
        $("#irr tbody").empty();
        let time = {
            start_date: $("#start_date").val(),
            day_get_data: $("#day_get_data_overview").val(),
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/getquality",
            type: "POST",
            data: JSON.stringify(time)
        }).done((qualityData) => {
            qualityData.sort((obj1, obj2) => {
                return obj2.QUANTITY - obj1.QUANTITY
            })
            $.each(qualityData, (index, item) => {
                $("#irr tbody").append(
                    `
                <tr>
                    <td>${item.IRR_NAME}</td>
                    <td>${item.QUANTITY}</td>
                </tr>
                  `
                )
            })

        }).fail((err) => {
            throw err;
        })
    }

    // upload file
    updload_file = () => {
        $("#handle_file").modal('hide');
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'đang cập nhật. Vui lòng đợi...',
            showConfirmButton: false,
            timer: 5000
        })
        var form = document.getElementById('upload_file_tagets');
        if (document.getElementById('tagets_file').value != '') {
            event.preventDefault();
            var xsend = new XMLHttpRequest();
            var fileInput = document.getElementById('tagets_file');
            var file;
            file = fileInput.files[0];
            console.log(file['name']);
            var formData = new FormData();
            formData.append('filee', file);
            if (file != null) {
                xsend.open('POST', '/api/amt/uploadfileemployeeinfo', true);
                xsend.send(formData);
                xsend.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var data = this.responseText;
                        console.log(data)
                        if (data == 'success') {
                            $.notify('cập nhật thành công', 'success');
                        } else {
                            $.notify('cập nhật không thành công', 'error');
                            $("#handle_file").modal('show');
                        }
                    }
                }
            }
        } else {
            alert("Không có tệp nào được chọn!!!")
            return;
        }
    }

    // setup time default 
    function load_time() {
        let datenow = format_time(Date.now());

        var date1 = new Date(datenow);
        // let start_date = format_time(date1.setDate(date1.getDate() - 10));
        let day_get_data = format_time(date1.setDate(date1.getDate() - 2));
        $("#start_date").val(start_date);
        $("#day_get_data_overview").val(day_get_data);
        // getDataAmtEmployee();
        // change_start_date();
        getQuantityEmployee();
        getQuality();
    }

    change_start_date = () => {
       getQuantityEmployee();
       change_date_get_data();
    }

    change_date_get_data = () => {
        getDataAmtEmployee();
        getQuality();
    }

    show_employee_list = () => {
        $("#employee_list").modal('show');
    }

    // save employee detail
    save_employee_detail = () => {
        let detail_employee = {
            ID: $("#id_employee").val(),
            NAME: $("#name_employee").val(),
            DATE : $("#day_get_data_overview").val(),
            SHIFT:$("#shift").val(),
            WORK_HRS: $("#word_hrs").val(),
            EARNED_HOURS: $("#eff_employee").val(),
            OPERATION_NAME:$("#operation_employee").val(),
            IRR_NAME: $("#irr_detail").val(),
            NOTE:$("#note").val()
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/saveemployeedetail",
            type: "POST",
            data: JSON.stringify(detail_employee)
        }).done((resText) => {
            console.log(resText.status);
        }).fail((err) => {
            console.log('err>> ', err)
        })
    }

// get quantity employee
    getQuantityEmployee = () => {
        let start_date = { start_date: $("#start_date").val() };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/getquantityemployee",
            type: "POST",
            data: JSON.stringify(start_date)
        }).done((employeeQuantity) => {
            console.log(employeeQuantity)
            $("#employee_total").html(`<h1 class ="text-center" style="font-size: 5vw">${employeeQuantity.length}</h1>`)
        }).fail((err) => {
            throw err;
        })
    }

    // get total employee at Start date
    getDataAmtEmployee = () => {
        $(document).ajaxStart(function () {
            $('#loading').show();
        }).ajaxStop(function () {
            $('#loading').hide();
        });
        $("#employee_list_show tbody").empty();
        let time = {
            start_date: $("#start_date").val(),
            day_get_data: $("#day_get_data_overview").val(),
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/getdataamtemployee",
            type: "POST",
            data: JSON.stringify(time)
        }).done((employeeData) => {
            let pass = 0;
            let not_pass = 0;
            let eff = 0;
            let tagets = 0;
            console.log(employeeData)
            $.each(employeeData, (index, item) => {
                if (item.EFF > item.TAGETS) {
                    pass += 1;
                } else {
                    not_pass += 1;
                }
                eff += Math.floor(item.EFF);
                tagets += item.TAGETS;
                $("#employee_list_show tbody").append(
                    `
                    <tr ondblclick = "employee_detail(${item.IDD})">
                        <td>${item.IDD}</td>
                        <td>${item.NAME}</td>
                        <td>${item.OPERATION_NAME}</td>
                        <td>${item.Shift}</td>
                        <td>${Math.floor(item.EFF)}</td>
                        <td>${item.TAGETS}</td>
                        <td><button class="btn btn-${item.EFF > item.TAGETS ? 'success' : 'danger'}">${item.EFF > item.TAGETS ? 'ĐẠT' : 'KHÔNG ĐẠT'}</button> </td>
                    </tr>
                    `
                )
            })

            $("#eff").text(`${Math.floor(eff / (pass + not_pass))}`)
            $("#tagets").text(`${Math.floor(tagets / (pass + not_pass))}`)
            $("#employee_pass").html(`<h3 class ="text-center">${pass}</h3>`)
            $("#employee_not_pass").html(`<h3 class ="text-center">${not_pass}</h3>`)

        }).fail((err) => {
            throw err;
        })
    }

    refresh = () => {
        $("#reduce_date").val(' ');
        $("#irr_detail").val('--chọn--');
        $("#note").val(' ')
    }

    // update reduce day
    update_reduce_date = () => {
        let update_date = {
            id: $("#id_employee").val(),
            reduce_date: $("#reduce_date").val()
        }
        if (update_date.reduce_date.length > 2 || update_date.reduce_date == NaN || update_date.reduce_date.length < 1) {
            return;
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/reducedate",
            type: "POST",
            data: JSON.stringify(update_date)
        }).done((resText) => {
            if (resText.status == 200) {
                $.notify('dời ngày thành công', 'success');
                let id = $("#id_employee").val();
                getDataAmtEmployee();
                employee_detail(id);
            } else {
                $.notify('Vui lòng kiểm tra lại', 'error');
            }
        }).fail((err) => {
            console.log("err >> ", err)
        });
    }

    // get employee detail by ID
    employee_detail = (id) => {
        $(document).ajaxStart(function () {
            $('#loading').show();
        }).ajaxStop(function () {
            $('#loading').hide();
            $("#employee_detail").modal('show');
            refresh();
        });
        let getEmployee = {
            id: id,
            date: $("#day_get_data_overview").val()
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/getemployeedetail",
            type: "POST",
            data: JSON.stringify(getEmployee)
        }).done((employee) => {
            console.log(employee)
            $.each(employee, (index, item) => {
                console.log(item.TAGETS);
                $("#id_employee").val(`${item.IDD}`);
                $("#name_employee").val(`${item.NAME}`);
                $("#operation_employee").val(`${item.OPERATION_NAME}`);
                $("#word_hrs").val(`${item.WORK_HRS}`);
                $("#eff_employee").val(`${item.EFF}`);
                $("#day_working_real").val(`${item.DAY_WORKING_REAL}`);
                $("#tagets_employee").val(`${item.TAGETS}`);
                $("#shift").val(`${item.Shift}`);
            })
        }).fail((err) => {
            console.log('err', err);
        })
    }

    // get Start day
    getStartDate = () => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/getstartdate",
            type: "GET",
        }).done((start_date) => {
            console.log(start_date)
            if (start_date != null) {
                $.each(start_date, (index, item) => {
                    $("#start_date").append(
                        `
                        <option value = "${item.START_DATE}">${item.START_DATE}</option>
                        `
                    )
                })
            }
        }).fail((err) => {
            console.log("err", err);
        })
    }



    // GET ERROR
    getQuality = () => {
        $("#top_1").empty();
        $("#top_2").empty();
        $("#top_3").empty();
        let time = {
            start_date: $("#start_date").val(),
            day_get_data: $("#day_get_data_overview").val(),
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/amt/getquality",
            type: "POST",
            data: JSON.stringify(time)
        }).done((qualityData) => {
            qualityData.sort((obj1, obj2) => {
                return obj2.QUANTITY - obj1.QUANTITY
            })
            let num = 1;
            let total = 0;
            $.each(qualityData, (index, item) => {
                total += item.QUANTITY
                $("#top_" + num).append(
                    `
                    <div class= "row">
                        <div class = "col-md-6">
                            <h${num}>${item.IRR_NAME}</h${num}>
                        </div>
                        <div class = "col-md-6">
                            <h${num}>${item.QUANTITY}</h${num}>
                        </div>
                    </div>
                    `
                )
                num++;
            })
            console.log(qualityData)
            $("#error_total").html(`<h3 class ="text-center" style="front-weight: bolt">${total}</h3>`)

        }).fail((err) => {
            throw err;
        })
    }

    // format time
    format_time = (time) => {
        return (new Date(time)).toLocaleDateString('fr-CA');
    }
</script>