<div class="row">
  <div class="card">
    <div class="row mt-3">
      <table class="table table-success text-center" id="amt_report">
        <fieldset>
          <legend style="color: blue; font-weight: bold;">Báo cáo AMT</legend>
          <thead>
            <tr>
              <th rowspan="2">CA</th>
              <th rowspan="2">HC</th>
              <th colspan="2">Hiệu suất</th>
              <th colspan="2">Chất lượng</th>
            </tr>
            <tr>
              <th>Đạt</th>
              <th>Không đạt</th>
              <th>Đạt</th>
              <th>Không đạt</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </fieldset>
      </table>
    </div>
  </div>
  <div class="card mt-lg-2">
    <div class="row mt-3">
      <table class="table table-success text-center" id="amt_report">
        <fieldset>
          <legend style="color: blue; font-weight: bold;">Tổng hợp nhóm chuyền</legend>
          <thead>
            <tr>
              <th rowspan="2">Nhóm chuyền</th>
              <th rowspan="2">HC</th>
              <th colspan="2">Hiệu suất</th>
              <th colspan="2">Chất lượng</th>
            </tr>
            <tr>
              <th>Đạt</th>
              <th>Không đạt</th>
              <th>Đạt</th>
              <th>Không đạt</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </fieldset>
      </table>
    </div>
  </div>
</div>