<div class="row">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div
                class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <h6">AMT</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Tổng Nhân Viên</p>
                            <h4 class="mb-0" id="total_employee"></h4>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month
                        </p>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <!-- <div
                            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                            <h6 class="mt-3">EFF</h6>
                        </div> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Đạt</p>
                                    <h4 class="mb-0" id="total_stoped"></h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Không đạt</p>
                                    <h4 class="mb-0" id="total_stoped">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday
                        </p>
                    </div> -->
                    
                </div>   
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <!-- <div
                            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                            <h5 class="mt-3">QC</h5>
                        </div> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Đạt</p>
                                    <h4 class="mb-0" id="total_stoped"></h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Không đạt</p>
                                    <h4 class="mb-0" id="total_stoped">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week
                        </p>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Tổng Lỗi</p>
                            <h4 class="mb-0" id="total_irr"></h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div
                class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <h6 class="mt-3">091-098</h6>
            </div>
        </div>
        <div class="row mt-lg-3">
            <table class="table table-hover text-center border-radius-xl">
                <thead>
                  <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">Tổng nhân viên</th>
                    <th colspan="2">Hiệu suất</th>
                    <th colspan="2">Chất lượng</th>
                  </tr>
                  <tr>
                    <th>ĐẠT</th>
                    <th>KHÔNG ĐẠT</th>
                    <th>ĐẠT</th>
                    <th>KHÔNG ĐẠT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">BAL</th>
                    <td>70</td>
                    <td>50</td>
                    <td>20</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <th scope="row">RIT</th>
                    <td>70</td>
                    <td>50</td>
                    <td>20</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div
                class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <h6 class="mt-3">099-105</h6>
            </div>
        </div>
        <div class="row mt-lg-3">
            <table class="table table-hover text-center border-radius-xl">
                <thead>
                  <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">Tổng nhân viên</th>
                    <th colspan="2">Hiệu suất</th>
                    <th colspan="2">Chất lượng</th>
                  </tr>
                  <tr>
                    <th>ĐẠT</th>
                    <th>KHÔNG ĐẠT</th>
                    <th>ĐẠT</th>
                    <th>KHÔNG ĐẠT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">BAL</th>
                    <td>70</td>
                    <td>50</td>
                    <td>20</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <th scope="row">RIT</th>
                    <td>70</td>
                    <td>50</td>
                    <td>20</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
