<div class="row">
    <div class="card">
        <div class="row mt-lg-3">
            <table class="table table-hover text-center border-radius-xl" id="overviews_data_tracking">
                <thead>
                  <tr>
                      <th rowspan="2">Chuyền</th>
                    <th rowspan="2">HC</th>
                    <th colspan="2">Hiệu suất</th>
                    <th colspan="2">Chất lương</th>
                  </tr>
                  <tr>
                    <th>ĐẠT</th>
                    <th>KHÔNG ĐẠT</th>
                    <th>ĐẠT</th>
                    <th>KHÔNG ĐẠT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">091-098</th>
                    <td>70</td>
                    <td>50</td>
                    <td>20</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <th scope="row">099-105</th>
                    <td>70</td>
                    <td>50</td>
                    <td>20</td>
                    <td>20</td>
                    <td>50</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>