<div class="row">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div
                class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <h6 class="mt-3">091-098</h6>
            </div>

        </div>
        <div class="row mt-lg-5">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                            <h5 class="mt-3">BAL</h5>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Tổng Nhân Viên</p>
                            <h4 class="mb-0" id="total_employee"></h4>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month
                        </p>
                    </div> -->
                </div>
                <div class="card mt-2">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                            <h5 class="mt-3">RIT</h5>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Tổng Nhân Viên</p>
                            <h4 class="mb-0" id="total_employee">70</h4>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month
                        </p>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                            <h6 class="mt-3">EFF</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Đạt</p>
                                    <h4 class="mb-0" id="total_stoped"></h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Không đạt</p>
                                    <h4 class="mb-0" id="total_stoped">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday
                        </p>
                    </div> -->
                    
                </div>
                <div class="card mt-2">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                            <h6 class="mt-3">EFF</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Đạt</p>
                                    <h4 class="mb-0" id="total_stoped"></h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Không đạt</p>
                                    <h4 class="mb-0" id="total_stoped">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday
                        </p>
                    </div> -->
                    
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                            <h5 class="mt-3">QC</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Đạt</p>
                                    <h4 class="mb-0" id="total_stoped"></h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Không đạt</p>
                                    <h4 class="mb-0" id="total_stoped">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week
                        </p>
                    </div> -->
                </div>
                <div class="card mt-2">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                            <h5 class="mt-3">QC</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Đạt</p>
                                    <h4 class="mb-0" id="total_stoped"></h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Không đạt</p>
                                    <h4 class="mb-0" id="total_stoped">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week
                        </p>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">

                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Tổng Lỗi</p>
                            <h4 class="mb-0" id="total_irr"></h4>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                    <div class="card-footer p-3">
                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>