<footer class="main-footer">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <button class="btn btn-success" onclick="show_employee_list()">Danh sách</button>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <button class="btn btn-success">Hoat động</button>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <button class="btn btn-success">Slide đào tạo</button>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <a href="/tutorials" class="btn btn-success">Video</a>
      </div>
    </div>
  </div>
</footer>